<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  		<property name="hibernate.connection.url">jdbc:oracle:thin:@10.225.11.74:1521:db03</property>
  		<property name="hibernate.connection.username">scott</property>
  		<property name="hibernate.connection.password">oracle</property>
  		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  		<property name="hibernate.default_schema">scott</property>
  		<property name="hibernate.hbm2ddl.auto">update</property>
  		<property name="show_sql">true</property>
  		
  		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
  		
  		<mapping resource="com/ngx20080110/bean/ch5/News.hbm.xml"></mapping>
  		<mapping resource="com/ngx20080110/bean/ch5/News2.hbm.xml"></mapping>
  		<mapping resource="com/ngx20080110/bean/ch5/News3.hbm.xml"></mapping>
  		<mapping resource="com/ngx20080110/bean/ch5/Person.hbm.xml"></mapping>
  		<mapping resource="com/ngx20080110/bean/ch5/Person2.hbm.xml"></mapping>
  		<mapping resource="com/ngx20080110/bean/ch5/Person3.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>